@charset "utf-8";
/* CSS Document */

#logo{
	height: 120px;
	margin-bottom: 50px;
	width: 100%;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

#title{
	float: none;
	font-weight: bold;
	text-transform: capitalize;
	color: #000;
	margin-bottom: 3px;
	font-size: 10pt;
	text-decoration: none;
	text-align: center;
}

#title-kopcetak{
	float: none;
	font-weight: bold;
	color: #000;
	margin-bottom: 3px;
	font-size: 12pt;
	text-decoration: none;
	text-align: center;
	text-transform:uppercase;
}

#title-kop{
	float: none;
	font-weight: bold;
	color: #000;
	margin-bottom: 3px;
	font-size: 14pt;
	text-decoration: none;
	text-align: center;
	text-transform:uppercase;
}

#title-kontakPT{
	float: none;
	text-transform: capitalize;
	color: #000;
	margin-bottom: 15px;
	margin-bottom: 5px;
	font-size: 8pt;
	text-decoration: none;
	text-align: center;
}

#title-jalan{
	float: none;
	font-weight: bold;
	color: #000;
	margin-bottom: 5px;
	font-size: 9pt;
}

#title-binaan{
	font-size: 10pt;
	padding-left: 25px;
}

#isi{
	font-size: 10pt;
}

#isi-binaan{
	font-size: 10pt;
	text-align: justify-all;
}
#isi-table{
	padding: 0 0 0 3px;
}
.tr-title{
	font-size: 9pt;
	font-weight: bold;
	color: #000;
}
.tr-top{
	font-size: 10pt;
	color: #000;
}
.tr-isi{
	font-size: 9pt;
	color: #000;
}
#footer-tanggal{
	color: #000;
	margin-top: 40px;
	margin-left: 500px;
	margin-bottom: 50px;
	font-size: 10pt;
}
#footer-jabatan{
	color: #000;
	font-size: 10pt;
	margin-left: 500px;
	margin-bottom: 50px;
}
#footer-nama{
	color: #000;
	font-size: 10pt;
	margin-left: 500px;
	text-decoration: none;
	font-weight: bold;
}

#footer-pimpinan{
	color: #000;
	font-size: 10pt;
	margin-top: -10px;
	margin-left: 20px;
	text-decoration: none;
}

#footer-mengetahui{
	color: #000;
	font-size: 10pt;
	margin-top: -85px;
	margin-left: 20px;
}

#footer-nama-membayar{
	color: #000;
	font-size: 10pt;
	margin-top: -15px;
	margin-left: 270px;
	text-decoration: none;
	font-weight: bold;
}

#footer-membayar{
	color: #000;
	font-size: 10pt;
	margin-top: -18px;
	margin-left: 270px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	text-align: center;
}